table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.animal-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.animal-link:hover {
  text-decoration: underline;
}

.edit-btn {
  background-color: #f2f2f2;
  border: 1px solid #000000;
  border-radius: 4px;
  color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  /* Add line-height to center text vertically */
  line-height: 26px; /* Adjust the value according to the button height */
}

.edit-btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border: none;
    background-color: #f2f2f2;
    color: black;
  }

  td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Animal Name";
  }

  td:nth-of-type(2):before {
    content: "Exit Reason";
  }

  td:nth-of-type(3):before {
    content: "Owner Name";
  }

  td:nth-of-type(4):before {
    content: "Owner Phone";
  }

  td:nth-of-type(5):before {
    content: "Address";
  }

  td:nth-of-type(6):before {
    content: "City";
  }

  td:nth-of-type(7):before {
    content: "State";
  }

  td:nth-of-type(8):before {
    content: "Zip";
  }
}
